*{
    margin: 0;
    padding: 0;
}

/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
/*
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

*/

@font-face {
  font-family: Script;
  src: url(../font/Script\ MT\ Bold.ttf);
}

html{
  scroll-behavior: smooth;
  background-color: #fff;
}

body::-webkit-scrollbar {
  width: 9px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: black;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255, .3);    /* color of the scroll thumb */
}

.no-scroll {
  max-height: 100vh;
  overflow: hidden;
}

